*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
header {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
}
:root {
  --primary-color: #9f3647; 
}


.cabezaypie {
  background-color: var(--primary-color);
  border: #9f3647;
  
}



.header{
  background-color: var(--primary-color);
}
.btncolor{
  /*no pude cambiar el color cuando pongo el mouse encima*/
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 10px;
  color: white;
  font-weight: bold;
}
.main{
  color:white;
  background: linear-gradient(#0000008a,#0000008a),url("img/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  
}
.titulo{
  color:white;
  font-size: 4rem;
  
}
.subtitulo{
  color:white;
  font-size: 2rem;
}
.buscadorPeliculas{
  height: 50vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBuscador{
  height: 50px;
  border-radius: 25px;
  border-color: white;
  font-size: 1rem;
  width: 500px;
}
.botonBuscador{
  display: inline-block;
  height: 50px;
  margin-left: 10px;
  border-radius: 25px;
  border-color: white;
  font-size: 1rem;
}
hr{
  border: 1px solid #9f3647;
  background-color: black;
  width: 80%;
  margin: auto;
}
.tendencia{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
}
.pelicula{
  text-align: center;
  display: flex;
  height: 200px;
  padding: 10px;
  justify-content: center;
  
}
.peliculas{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:60px;
}
.peliculasAclamadas{
  background-color: black;
  margin: 0 auto;
  text-align: center;

  .tituloSection{
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 40px;
  }
  .aclamadas{
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px 0px 40px 0px;
      .peliculaItem{
          border-radius: 25px;
          width: 170px;
          min-width: 170px;
          font-size: 20px;
          cursor: pointer;
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
         
          .imgAclamada{
              border-radius: 5%;
              width: 95%;
              height: 95%;
              object-fit: cover;
          }
        }
      }
    }
    ::-webkit-scrollbar {
      width: 10px;
      margin: 1px; 
      padding: 1px;
    }
    
    ::-webkit-scrollbar-track {
      background: #6e212e; 
    }
    
    ::-webkit-scrollbar-thumb {
      background: #cf445b; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: var(--primary-color); 
    }
.login{
  color:white;
  background: linear-gradient(#0000008a,#0000008a),url("img/bg-register.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  
}
