:root {
  --primary-color: #9f3647; 
}


.cabezaypie {
  background-color: var(--primary-color);
  border: #9f3647;
}



.header{
  background-color: var(--primary-color);
}
.btncolor{
  /*no pude cambiar el color cuando pongo el mouse encima*/
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
section{
  color: black;
}